[Unit]
Description= Conky autostart 
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=conky

[Install]
WantedBy=multi-user.target

